{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de pagos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Boleta</th>
                <th>Alumno</th>
                <th>Evento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('alumnopago_show', { 'id': entity.id }) }}">{{ entity.Boleta }}</a></td>
                <td>{{ entity.Alumno }}</td>
                <td>{{ entity.Evento }}</td>
                <td>
                    <ul>
                    <li>
                        <a href="{{ path('alumnopago_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            {% endblock %}
