{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de alumnos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Carne</th>
                <th>Nombre</th>
                <th>Actiones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('alumno_show', { 'id': entity.id }) }}">{{ entity.Carne }}</a></td>
                <td>{{ entity.Nombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('alumno_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('alumno_new') }}" class="btn">
                Nuevo alumno
            </a>
        </li>
    </ul>
    {% endblock %}
