{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{entity.Nombre}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Fecha inicio</th>
                <td>{{ entity.FechaInicio|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Fecha fin</th>
                <td>{{ entity.FechaFin|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Lugar</th>
                <td>{{ entity.Lugar }}</td>
            </tr>
            <tr>
                <th>Habilitado</th>
                <td>{{ entity.Habilitado ? 'Sí' : 'No' }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.Direccion }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row-fluid sortable ui-sortable">
    <div class="box span4">
        <div class="box-header">
            <h2><i class="halflings-icon align-justify"></i><span class="break"></span>Salones para el evento</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cupo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {%for salon in entity.getSalons %}
                    <tr>
                        <td>{{salon.Nombre}}</td>
                        <td>{{salon.Cupo}}</td>
                        <td><a href="{{path('salon_edit',{'id':salon.id})}}">editar</a></td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
            <a href="{{ path('salon_new',{'id':entity.id}) }}" class="btn">Agregar salón</a>
        </div>
    </div>
    <div class="box span8">
        <div class="box-header">
            <h2><i class="halflings-icon align-justify"></i><span class="break"></span>Conferencias para el evento</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Conferencia</th>
                        <th>Impartida</th>
                        <th>Salon</th>
                        <th>Fecha/Hora</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {%for conf in entity.Conferencia %}
                    <tr>
                        <td>{{conf.Conferencia}}</td>
                        <td>{{conf.Conferencistum}}</td>
                        <td>{{conf.Salon}}</td>
                        <td>{{conf.HoraInicio|date('Y-m-d h:i')}} - {{conf.HoraFin|date('Y-m-d h:i')}}</td>
                        <td><a href="{{path('conferencia_edit',{'id':conf.id})}}">editar</a></td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
            <a href="{{ path('conferencia_new',{'id':entity.id}) }}" class="btn">Agregar conferencia</a>
        </div>
    </div>
    </div>
    <div class="row-fluid sortable ui-sortable">
    <div class="box span4">
        <div class="box-header">
            <h2><i class="halflings-icon align-justify"></i><span class="break"></span>Suvenires para el evento</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Subenir</th>
                        <th>Observaciones</th>
                        <th>Acciones</th>
                    </tr>
                </thead>   
                <tbody>
                {%for suvenir in entity.getRecuerdos %}
                    <tr>
                        <td>{{suvenir.Recuerdo}}</td>
                        <td>{{suvenir.Observaciones}}</td>
                        <td><a href="{{path('recuerdo_edit',{'id':suvenir.id})}}">editar</a></td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>  
            <a href="{{ path('recuerdo_new',{'id':entity.id}) }}" class="btn">Agregar suvenir</a>
        </div>
    </div>
    </div>
    <div class="row">
        <ul class="record_actions">
    <li>
        <a href="{{ path('evento') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('alumnoevento',{'id':entity.id}) }}">
            Alumnos del evento
        </a>
    </li>
    <li>
        <a href="{{path('cargararchivo',{'id':entity.id})}}" class="btn">
          Cargar Archivo
        </a>
    </li>
    <li>
        <a href="{{ path('evento_edit', { 'id': entity.id }) }}" class="btn">
            Editar
        </a>
    </li>
</ul>
</div>
{% endblock %}
