{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de conferencistas</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Actiones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('conferencista_show', { 'id': entity.id }) }}">{{ entity.Nombre }}</a></td>
                <td>{{ entity.Nombre }}</td>
                <td>{{ entity.Correo }}</td>
                <td>{{ entity.Telefono }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('conferencista_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('conferencista_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('conferencista_new') }}" class="btn">
                Nuevo
            </a>
    {% endblock %}
