{% extends '::base.html.twig' %}

{% block body -%}
    <h1>listado de suvenires del alumno: {{alumno.Nombre}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Fecha hora</th>
                <th>Recuerdo</th>
                <th>Usuario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('alumnorecuerdo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.FechaHora %}{{ entity.FechaHora|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.Alumnoid }}</td>
                <td>{{ entity.Recuerdoid }}</td>
                <td>{{ entity.Usuarioid }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('alumnorecuerdo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('alumnorecuerdo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('alumnorecuerdo_new',{'id':alumno.id,'ev':evento.id}) }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
