{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AlumnoRecuerdo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Fechahora</th>
                <td>{{ entity.FechaHora|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Alumno</th>
                <td>{{ entity.Alumno }}</td>
            </tr>
            <tr>
                <th>Recuerdo</th>
                <td>{{ entity.Recuerdo }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ entity.Usuario }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('alumnorecuerdo',{'id':entity.Alumno.id,'ev':entity.Recuerdo.Evento.id}) }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
