{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de eventos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Lugar</th>
                <th>Actiones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.Nombre }}</td>
                <td>{% if entity.FechaInicio %}{{ entity.FechaInicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.FechaFin %}{{ entity.FechaFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.Lugar }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('conferenciaalumno_evento', { 'id': entity.id, 'ida': alumno.id }) }}">Conferencias</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
