{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Conferencium list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Conferencia</th>
                <th>Horainicio</th>
                <th>Horafin</th>
                <th>Conferencista_id</th>
                <th>Salon_id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('conferencia_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.Conferencia }}</td>
                <td>{% if entity.HoraInicio %}{{ entity.HoraInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.HoraFIn %}{{ entity.HoraFIn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.Conferencistaid }}</td>
                <td>{{ entity.Salonid }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('conferencia_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('conferencia_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('conferencia_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
